<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>APIs!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="vendors/angular.min.js"></script>
    <script src="scripts/client.js"></script>
</head>

<body ng-app="giphyApp">
    <main ng-controller="GiphyRandomController as vm">

        <button ng-click="vm.showImage()">Show Random Image</button>

        <div ng-show="vm.showFlag">
            <image ng-src="{{vm.GifUrl}}"></image>
        </div>
    </main>

    <main ng-controller="GiphySearchController as vm">
        <input type=text ng-model="vm.searchText">{{vm.searchText}}

        <button ng-click="vm.showImage()">Search</button>

        <div ng-show="vm.showFlag">
            <image ng-src="{{vm.GifUrl}}"></image>
        </div>
    </main>
</body>
</html>

